@model ScraBoy.Features.CMS.Comments.Comment
@{
    ViewBag.Title = "Reply Comment";

    Layout = "~/Views/Shared/_BlogLayout.cshtml";
}
<script src="~/Scripts/tinymce/tinymce.js"></script>
<script src="~/Scripts/main.js"></script>

<div class="container">
    @Html.Partial("Form",Model)
</div>