@model ScraBoy.Features.Lomba.Contest.Competition

<p><i class="fa fa-calendar"></i> @Model.StartedOn.FormatDate() - @Model.EndOn.FormatDate() </p>
<p><i class="fa fa-trophy"></i> @Model.Reward</p>
<p><i class="fa fa-thumb-tack"></i> @Model.Category.Name</p>