
@{
    ViewBag.Title = "Home Admin";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<link href="~/Content/quote.css" rel="stylesheet" />

<div class="container">
    <div class="row">
        <div class="container">
            <blockquote class="quote-card default">
                <p>
                    Kalau kamu bukan anak raja dan engkau bukan anak ulama besar, maka jadilah penulis.
                </p>

                <cite>
                    Imam Ghazali
                </cite>
            </blockquote>
            <blockquote class="quote-card green-card">
                <p>
                    Ikatlah ilmu dengan menulis.
                </p>

                <cite>
                    Ali Bin Abi Thalib ra
                </cite>
            </blockquote>

            <blockquote class="quote-card blue-card">
                <p>
                    Orang boleh pandai setinggi langit, tapi selama ia tidak menulis, ia akan hilang di dalam masyarakat dan dari sejarah. Menulis adalah bekerja untuk keabadian.
                </p>

                <cite>
                    Pramoedya Ananta Toer
                </cite>
            </blockquote>
            <blockquote class="quote-card red-card">
                <p>
                    Menulis merangsang pemikiran, jadi saat anda tidak bisa memikirkan sesuatu untuk di tulis, tetaplah mencoba untuk menulis.
                </p>

                <cite>
                    Barbara
                </cite>
            </blockquote>

            <blockquote class="quote-card yellow-card">
                <p>
                    Aku belajar dan membaca agar umur orang lain berguna bagiku, dan aku menulis agar orang lain mengambil manfaat atas umurku.
                </p>

                <cite>
                    Felix Siauw
                </cite>
            </blockquote>
            <blockquote class="quote-card black-card">
                <p>
                    Menjalani hidup itu seperti menulis buku. Sampul depan adalah kelahiran kita, sampul belakang adalah kematian. Isinya, kamu yg tentukan.
                </p>

                <cite>
                    Anonymous
                </cite>
            </blockquote>
        </div>
    </div>
</div>