@{
    Layout = "~/Views/Shared/_BlogLayout.cshtml";
}

<link href="~/Content/profile.css" rel="stylesheet" />
<div id="w">
    <div id="content" class="clearfix">
        @RenderBody()
    </div>
</div>


