@model ScraBoy.Features.Hadist.Book.Kitab

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_BlogLayout.cshtml";
}
<div class="container">
    <br />
    <h2>Create Hadis</h2>
    @Html.Partial("_Form",Model)
</div>
