<div class="input-group">

    <input type="text" class="form-control" placeholder="Search for..."
           value="@ViewBag.Filter" name="search" aria-label="Search" aria-describedby="basic-addon2">
    <div class="input-group-append">
        <button class="btn btn-primary" type="submit" id="searchsubmit">
            <i class="fa fa-search"></i>
        </button>
    </div>
</div>