@model ScraBoy.Features.Hadist.Bab.Chapter

@{
    ViewBag.Title = "Edit Chapter";
    Layout = "~/Views/Shared/_BlogLayout.cshtml";
}

<div class="container">
    <br />
    <h2>Edit Chapter</h2>
    @Html.Partial("_Form",Model)
</div>
