@model ScraBoy.Features.Hadist.Bab.Chapter

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_BlogLayout.cshtml";
}


<div class="container">
    <br />
    <h2>Create Chapter</h2>
    @Html.Partial("_Form",Model)
</div>
