<div class="card my-4">
    <h5 class="card-header"><i class="fa fa-laptop"></i> Latest Posts</h5>
    @Html.Partial("_WidgetPost",(IEnumerable<ScraBoy.Features.CMS.HomeBlog.BlogViewModel>)ViewBag.NewPosts)
</div>
@Html.Partial("_Sidebar")