@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Hi There!</h1>
    <p class="lead">Now you can easily tracking your own favorite game.</p>
    <a class="btn btn-primary btn-lg" @Html.ActionLink("Try It","Index","Ranking")</a>
</div>
