@model ScraBoy.Features.Hadist.Hadis.Imam

@{
    ViewBag.Title = "Create Imam";
    Layout = "~/Views/Shared/_BlogLayout.cshtml";
}


<div class="container">
    <br />
    <h2>Create Imam</h2>
    @Html.Partial("_Form",Model)
</div>
