<!-- Will bre replaced soon -->
<div class="input-group" style="width:250px;" >
    <input style="width:2000px" type="text" class="form-control" placeholder="Enter Url From Playstore"
           value="@ViewBag.filter" name="s">
    <span class="input-group-btn">
        <button type="submit" class="btn btn-success" id="searchsubmit">
            <span class="glyphicon glyphicon-search"></span>
        </button>
    </span>
</div>