@model ScraBoy.Features.CMS.HomeBlog.BlogViewModel

<h2>Comment</h2>

@using(Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="card my-4">
        <h5 class="card-header">Leave a Comment:</h5>
        <div class="card-body">
            <form>
                <div class="form-group">
                    @Html.TextAreaFor(model => model.NewComment,10,40,htmlAttributes: new { style = "width: 100%; max-width: 100%;" })
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>

}

