@model ScraBoy.Features.CMS.HomeBlog.BlogViewModel

@if(Model.Voted)
{
    <a class="fa fa-thumbs-up" 
       href="@Url.Action("Like",new { controller = "Voting",postId = Model.Post.Id })">
        @Model.Voting.TotalLike
    </a>
}
else
{

    <a class="fa fa-thumbs-o-up"
       href="@Url.Action("Like",new { controller = "Voting",postId =  Model.Post.Id })">
        @Model.Voting.TotalLike
    </a>
}