@model ScraBoy.Features.CMS.HomeBlog.BlogViewModel

@if(Model.Voted)
{
    <a class="fa fa-thumbs-up"
       href="@Url.Action("Like",new { controller = "Voting",postId = Model.Post.Id })">

        @foreach(var item in Model.Voting.LikedUser)
        {
            if(item.UserName.Equals(User.Identity.Name))
            {
                if(Model.Voting.LikedUser.Count() == 1)
                {
                    <a> You</a>
                }
                else
                {
                    <a> You and @(Model.Voting.TotalLike - 1) others</a>
                }
                break;
            }
        }


    </a>
}
else
{
    <a class="fa fa-thumbs-o-up"
       href="@Url.Action("Like",new { controller = "Voting",postId =  Model.Post.Id })">
        @Model.Voting.TotalLike
    </a>
}

