@model IEnumerable<string>


<div class="card-body">
    <div class="row">
        <div class="col-lg-6">

            @foreach(var item in Model)
            {
                <div class="media-body">
                    <h5 class="mt-0">
                        <a href="@Url.Action("Tag",new { tagId = item })">
                            #@item
                        </a>
                    </h5>
                </div>

            }
        </div>
    </div>
</div>