@using PagedList;
@using PagedList.Mvc;

@model PagedList.IPagedList<ScraBoy.Features.CMS.HomeBlog.BlogViewModel>

@{
    ViewBag.Title = "Home";
    ViewBag.IsIndex = true;

    Layout = "~/Views/Shared/_BlogLayout.cshtml";
}
<div class="container">
    <div class="row">
        <div class="col-md-8">
            <h1 class="my-4">
                @*Iqro'
                    <small>Bacalah...!</small>*@
            </h1>
            @foreach(var item in Model)
            {
                @Html.Partial("_RenderPost",item)
            }

            <div>
                <!-- Pagination -->
                <ul class="pagination justify-content-center mb-4">
                    @if(Model.Count() > 0)
                    {
                        @Html.PagedListPager(Model,page => Url.Action("Index",new { page = page,currentFilter = ViewBag.Filter }))
                    }
                </ul>
            </div>

        </div>
        <div class="col-md-4">
            <!-- Search Widget -->
           @Html.Partial("_Search")
            @Html.Partial("_WidgetSidebar")

        </div>
    </div>
</div>