@model ScraBoy.Features.CMS.HomeBlog.BlogViewModel

@{
    ViewBag.Title = Model.Post.Title;

    ViewBag.IsIndex = false;
    Layout = "~/Views/Shared/_BlogLayout.cshtml";
}
<div class="container">
    <div class="row">
        @Html.Partial("_RenderPost",Model)

        <div class="col-md-4">
            <!-- Search Widget -->
           @Html.Partial("_Search")
            @Html.Partial("_WidgetSidebar")

        </div>
    </div>
</div>


