@model IEnumerable<ScraBoy.Features.CMS.User.CMSUser>


@{
    ViewBag.Title = "Chat";
    Layout = "~/Views/Shared/_BlogLayout.cshtml";
}
<link href="~/Content/chat.css" rel="stylesheet" />
<div class="container">
    <br />
    <div class="messaging">
        <div class="inbox_msg">
            <div class="inbox_people">
                <div class="headind_srch">
                    <div class="recent_heading">
                        <h4>Start Chatting</h4>
                    </div>
                </div>
                <div id="historyTable" class="inbox_chat">
                    @foreach(var item in Model)
                    {
                        <div class="chat_list active_chat">
                            <div class="chat_people">
                                <div class="chat_img"> <img style="height:30px;width:30px;" src="@Url.Content(item.UrlImage)" alt="sunil"> </div>
                                <div class="chat_ib">
                                    <a href=@Url.Action("ChatIndex","Message",new { username = item.UserName })>
                                        <h5 class="text-primary">@item.DisplayName <span class="chat_date"></span></h5>
                                    </a>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>