@model ScraBoy.Features.Type.TypeModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <div>
        <h4>TypeModel</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.TypeName)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.TypeName)
            </dd>
    
        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.TypeId }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</body>
</html>
